#cta {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  padding: 2rem 1rem;
  background-color: #444444;
  z-index: 3;
}

#cta > span {
  text-align: center;
  padding: 0 2rem;
  color: white;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 0.5rem;
}

