.slider-ct {
  overflow: hidden;
  padding: 0;
  position: relative;
}
.slide-wr {
  position: relative;
  flex-wrap: nowrap;
}
#sec div {
  display: block;
  background-color: #aaecaa;
  padding: 10px 20px;
  float: left;
  margin: 5px 2px;
  transform: translateX(0px);
}

#sec:after {
  content: "";
  display: table;
  clear: both;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 75%;
  margin-bottom: 1rem;
}

.slide > a {
  display: block;
  padding: 0.5rem;

  color: black;
  text-decoration: none;
  background-color: transparent;

  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 1.2rem;
  text-align: center;

  border: 6px solid black;
  border-radius: 24px;
}

.slide span {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 1.2rem;
  
}

#back {
  position: absolute;
  top: 45%;
  background-color: transparent;
  border: none;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 2rem;
}

#forward {
  position: absolute;
  top: 45%;
  right: 0;
  background-color: transparent;
  border: none;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  #back {
    position: absolute;
    top: 45%;
    background-color: transparent;
    border: none;
    font-family: "Mochiy Pop P One", sans-serif;
    font-size: 2rem;
  }
}