@import url("reset.css");
@import url("navbar.css");
@import url("modal.css");
@import url("fonts.css");
@import url("carousel.css");

body#ock {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background: white;
}

#ock {
  position: relative;
}

#ock.hidden {
  display: none;
}

#ock.active {
  overflow: hidden;
}









/* 
z-index current:

body#ock              : 1
#nav-btn              : 10
#nav-btn input        : 11
#modal                : 3

*/